
.navbar {
	position: fixed;
	top: 0;
	display: flex;
	height: 100dvh;
	/* align-items: center; */
	
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 10px;
		max-width: 4rem;
		backdrop-filter: blur(1.5px);
		padding: 0;

		li {
			transform: rotate(-90deg);
			font-size: large;
			margin: 3rem 0;
		}

		a {
			cursor: pointer;
			text-decoration: none;
			font-weight: 600;
			color: #fa6728;

			&:hover {
				color: #fb9063;
			}
		}
	}
}